HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/csvData/eurusd/1min/1minCME.csv
/csvData/eurusd/1min/month/
/csvData/eurusd/symbology/symbology.json

# Database Files
sqlite.db
local.duckdb
database/*.db
*.db
/database/

logs/

# Local Maven cache in project workspace
.m2/
*.lastUpdated

### Local property overrides ###
# Ignore custom copies of application.properties that may contain secrets
*application*.properties
*local.properties
!src/main/resources/application.properties
!src/test/resources/application-test.properties

# Local configuration overrides
src/main/resources/application-local.properties
